{% extends 'netbox_geoview/base.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
  {{ map_config|json_script:"geoview-map-config" }}
  <div class="tab-pane geoview-viewport{% if active_tab == 'map' %} show active{% endif %}" id="map-panel" role="tabpanel" aria-labelledby="map-tab">
    <div
      class="geoview-map geoview-map--fullscreen"
      data-geoview-map
      data-config-id="geoview-map-config"
    ></div>
  </div>
  <div class="tab-pane{% if active_tab == 'filter' %} show active{% endif %}" id="filter-panel" role="tabpanel" aria-labelledby="filter-tab">
    {% include 'inc/filter_list.html' %}
  </div>
{% endblock content %}
